@font-face{
    font-family: myFont;
    src:url('/game/font/方正大黑繁体.ttf');

}
*{margin:0; padding:0; }
body{
    font-family:myFont;
    font-weight:lighter;
}
ul,li{list-style-type:none;}
a{
    text-decoration:none;
    color:#fff; 
}

.scroll::-webkit-scrollbar{
    width:8px;  
    height:8px;
    -webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,0);
    background:rgba(0,0,0,0);

}
.flex,.flex-center,.flex-justify-center,.flex-items-center,.flex-column,.flex-justify-between,.flex-justify-around,.flex-items-end{
    display:flex;
}
.flex-grow-1{
    flex-grow:1;
}
.flex-grow-2{
    flex-grow:2;
}
.flex-grow-3{
    flex-grow:3;
}
.flex-1{
    flex:1;
}
.flex-center{
    justify-content: center;
    align-items:center;
}
.flex-justify-center{
    justify-content: center;
}
.flex-justify-between{
    justify-content:space-between;
}
.flex-justify-around{
    justify-content:space-around;
}
.flex-items-center{
    align-items: center;
}
.flex-items-end{
    align-items:flex-end;
}
.flex-column{
    flex-direction:column;
}
.text-center{
    text-align:center;
    margin-top: -.6rem;
}
.font-1{
    color:#bbb;
    font-size:.4rem;
}
.font-2{
    color:#bbb;
    font-size:1.1rem;
    font-weight:bold;
}
.font-3{
    font-size:2.2rem;
    font-weight:bold;
    color:#7725ff;
}
.font-4{
    /*font-family:;*/
    color:#eee;
    font-size:1.2rem
}

.imgType-btn{
    background:url("../image/btn.png") no-repeat center;
    background-size:100% auto;
    width:8rem;
    height:2.4rem;
    box-sizing:border-box;
    padding-top:.2rem;
}
/*汽车*/
@keyframes my-car{
    0%   {left:-3rem;}
    70% {left:50%;}
    100% {left:120%;}
}
.car{
    position:absolute;
    bottom:1.4%;
    left:120%;
    transform:translateX(-50%);
    animation-name:my-car;
    animation-duration:4s;
    animation-iteration-count:infinite;
}
.car img{
    width:3rem;
}
body .rotate{
    top:50%;
    left:50%;
    width:100vh;
    height:100vw;
    transform-origin:center;
    transform:translateX(-50%) translateY(-50%) rotateZ(-90deg);
}
.wrap{
    overflow:hidden;
}
/*.scroll:hover::-webkit-scrollbar-thumb{*/
    /*background:rgba(250,0,0,.5); */
    /*border-radius:6px;*/
/*}*/
/*.scroll::-webkit-scrollbar-thumb:hover{*/
    /*background:rgba(250,250,0,.5); */
    /*border-radius:4px; */
/*}*/
/*.scroll::-webkit-scrollbar-track{*/
    /*background:rgba(0,0,0,0); */
    /*border-radius:4px;*/
/*}*/
/*.scroll:hover::-webkit-scrollbar-track{*/
    /*background:rgba(0,0,0,.5); */
    /*border-radius:4px;*/
/*}*/
/*.left-scroll::-webkit-scrollbar{*/
	/*width:0;*/
	/*height:0;*/
/*}*/